{% load static %}
<!-- banner start-->
<section class="main-slider owl-carousel">
    <div class="banner-item overlay" style="background-image:url({% static 'images/hero_area/banner3.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-11 mx-auto">
                    <div class="banner-content-wrap text-center">
                        <img class="title-shap-img" src="{% static 'images/shap/title-white.png' %}" alt="">
                        <p class="banner-info">5 to 7 June 2019, Waterfront Hotel, London</p>
                        <h1 class="banner-title">digital thinkers Meet</h1>

                        <p class="banner-desc">
                            How you transform your business as technology, consumer, habits industry dynamic
                            s change? Find out from those leading the charge.
                        </p>
                        <!-- Countdown end -->
                        <div class="banner-btn">
                            <a href="#" class="btn">Get Ticket</a>
                            <a href="#" class="btn fill">Know More</a>
                        </div>

                    </div>
                    <!-- Banner content wrap end -->
                </div><!-- col end-->

            </div><!-- row end-->
        </div>
        <!-- Container end -->
    </div><!-- banner item end-->
    <div class="banner-item overlay" style="background-image:url({% static 'images/hero_area/banner4.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="banner-content-wrap text-center">
                        <img class="title-shap-img" src="{% static 'images/shap/title-white.png' %}" alt="">
                        <p class="banner-info">5 to 7 June 2019, Waterfront Hotel, London</p>
                        <h1 class="banner-title">digital thinkers Meet up</h1>

                        <p class="banner-desc">
                            How you transform your business as technology, consumer, habits industry dynamic
                            s change? Find out from those leading the charge.
                        </p>
                        <!-- Countdown end -->
                        <div class="banner-btn">
                            <a href="#" class="btn">Get Ticket</a>
                            <a href="#" class="btn fill">Know More</a>
                        </div>

                    </div>
                    <!-- Banner content wrap end -->
                </div><!-- col end-->

            </div><!-- row end-->
        </div>
        <!-- Container end -->
    </div><!-- banner item end-->
    <div class="banner-item overlay" style="background-image:url({% static 'images/hero_area/banner5.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="banner-content-wrap text-center">
                        <img class="title-shap-img" src="{% static 'images/shap/title-white.png' %}" alt="">
                        <p class="banner-info">5 to 7 June 2019, Waterfront Hotel, London</p>
                        <h1 class="banner-title">digital thinkers Meet up</h1>

                        <p class="banner-desc">
                            How you transform your business as technology, consumer, habits industry dynamic
                            s change? Find out from those leading the charge.
                        </p>
                        <!-- Countdown end -->
                        <div class="banner-btn">
                            <a href="#" class="btn">Get Ticket</a>
                            <a href="#" class="btn fill">Know More</a>
                        </div>

                    </div>
                    <!-- Banner content wrap end -->
                </div><!-- col end-->

            </div><!-- row end-->
        </div>
        <!-- Container end -->
    </div><!-- banner item end-->

</section>
<!-- banner end-->