{% load static %}
<!-- Javascript Files
            ================================================== -->
<!-- initialize jQuery Library -->
<script src="{% static 'js/jquery.js' %}"></script>

<script src="{% static 'js/popper.min.js' %}"></script>
<!-- Bootstrap jQuery -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Counter -->
<script src="{% static 'js/jquery.appear.min.js' %}"></script>
<!-- Countdown -->
<script src="{% static 'js/jquery.jCounter.js' %}"></script>
<!-- magnific-popup -->
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<!-- carousel -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<!-- Waypoints -->
<script src="{% static 'js/wow.min.js' %}"></script>
<!-- isotop -->
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>

<!-- Template custom -->
<script src="{% static 'js/main.js' %}"></script>